.sidebar .sidebar-item{   
    padding: 1rem; 
    color:white;
    border-bottom: 1px solid rgb(231, 226, 226);
    
}
.sidebar :hover{
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
}
